<%= form_with(model: ramo_event) do |form| %>
  <% if ramo_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ramo_event.errors.count, "error") %> prohibited this ramo_event from being saved:</h2>

      <ul>
        <% ramo_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :day_of_week %>
    <%= form.number_field :day_of_week %>
  </div>

  <div class="field">
    <%= form.label :start_timestamp %>
    <%= form.datetime_select :start_timestamp %>
  </div>

  <div class="field">
    <%= form.label :end_timestamp %>
    <%= form.datetime_select :end_timestamp %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
