<div id="<%= dom_id ramo_event %>">
  <p>
    <strong>Location:</strong>
    <%= ramo_event.location %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= ramo_event.day_of_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= ramo_event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= ramo_event.end_time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= ramo_event.date %>
  </p>

</div>
