<p style="color: green"><%= notice %></p>

<%= render @ramo_event %>

<div>
  <%= link_to "Edit this ramo event", edit_ramo_event_path(@ramo_event) %> |
  <%= link_to "Back to ramo events", ramo_events_path %>

  <%= button_to "Destroy this ramo event", @ramo_event, method: :delete %>
</div>
