<div id="<%= dom_id course_event %>">
  <p>
    <strong>Location:</strong>
    <%= course_event.location %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= course_event.day_of_week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course_event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course_event.end_time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= course_event.date %>
  </p>

</div>
