<div id="<%= dom_id ramo %>">
  <p>
    <strong>Nrc:</strong>
    <%= ramo.nrc %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ramo.name %>
  </p>

  <p>
    <strong>Profesor:</strong>
    <%= ramo.profesor %>
  </p>

  <p>
    <strong>Creditos:</strong>
    <%= ramo.creditos %>
  </p>

  <p>
    <strong>Materia:</strong>
    <%= ramo.materia %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= ramo.curso %>
  </p>

  <p>
    <strong>Seccion:</strong>
    <%= ramo.seccion %>
  </p>

  <p>
    <strong>Plan estudios:</strong>
    <%= ramo.plan_estudios %>
  </p>

  <p>
    <strong>Conect liga:</strong>
    <%= ramo.conect_liga %>
  </p>

  <p>
    <strong>Lista cruzada:</strong>
    <%= ramo.lista_cruzada %>
  </p>

</div>
