<p style="color: green"><%= notice %></p>

<%= render @ramo %>

<div>
  <%= link_to "Edit this ramo", edit_ramo_path(@ramo) %> |
  <%= link_to "Back to ramos", ramos_path %>

  <%= button_to "Destroy this ramo", @ramo, method: :delete %>
</div>
