<%= form_with(model: ramo) do |form| %>
  <% if ramo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ramo.errors.count, "error") %> prohibited this ramo from being saved:</h2>

      <ul>
        <% ramo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nrc, style: "display: block" %>
    <%= form.text_field :nrc %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :profesor, style: "display: block" %>
    <%= form.text_field :profesor %>
  </div>

  <div>
    <%= form.label :creditos, style: "display: block" %>
    <%= form.number_field :creditos %>
  </div>

  <div>
    <%= form.label :materia, style: "display: block" %>
    <%= form.text_field :materia %>
  </div>

  <div>
    <%= form.label :curso, style: "display: block" %>
    <%= form.number_field :curso %>
  </div>

  <div>
    <%= form.label :seccion, style: "display: block" %>
    <%= form.text_field :seccion %>
  </div>

  <div>
    <%= form.label :plan_estudios, style: "display: block" %>
    <%= form.text_field :plan_estudios %>
  </div>

  <div>
    <%= form.label :conect_liga, style: "display: block" %>
    <%= form.text_field :conect_liga %>
  </div>

  <div>
    <%= form.label :lista_cruzada, style: "display: block" %>
    <%= form.text_field :lista_cruzada %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
