<div class="container card shadow bg-light border-warning m-4">
  <div class="card-body text-center">
    <h2 class="card-title">
      <i class="bi bi-exclamation-diamond"></i>
      Conflicto de ramos
    </h2>

    <p class="card-text">
      Los ramos <%= leftCourse.title %> y <%= rightCourse.title %> tienen eventos en conflicto:
    </p>

    <div>
      <%= debug leftConflictedEvents %>
    </div>

    <div>
      <%= debug rightConflictedEvents %>
    </div>

    <p class="card-text mt-4">
      ¿Inscribir <%= rightCourse.title %> de todas formas?
    </p>

    <div class="text-center mt-2 mb-2">
      <%= link_to(
            raw("<i class='bi bi-plus-lg me-2'></i> ") + "Sí",
            "todo",
            class: "btn btn-sm btn-primary shadow-sm",
            ) %>

      <%= link_to(
            "No",
            "todo",
            class: "btn btn-sm btn-secondary shadow-sm",
            ) %>
    </div>

  </div>
</div>
