<div class="container">
  <div class="row text-center my-3">
    <div class="col">
      <%= link_to(
            raw("<i class='bi bi-book me-2'></i> ") + "Catálogo",
            course_instances_path,
            class: "btn btn-primary"
          ) %>
    </div>
    <div class="col">
      <%= button_to(
            raw("<i class='bi bi-trash3-fill me-2'></i> ") + "[debug] Clear session",
            "/debug-clear-session",
            class: "btn btn-danger text-white",
            method: :post
          ) %>
    </div>
  </div>
</div>

<%= debug request.path %>

<%= debug session[:guestUserId] %>

<% if (session[:guestUserId] != nil) %>
  <% User.find_by(id: session[:guestUserId]).getInscribedCourses().each do |course| %>
    <%= render(course) %>
  <% end %>
<% end %>
