<div id="ScheduleControlsContainer" class="mb-3">
  <a class="btn btn-lg btn-outline-warning" data-bs-toggle="collapse" href="#SymbologyContainer" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-question-lg"></i>
  </a>

  <%#TODO: button for exporting the week schedule as image %>
</div>

<div id="SymbologyContainer" class="collapse card border-warning mb-3">
  <div class="card-header bg-transparent border-warning">
    Colores de bloques de horario
  </div>
  <div class="card-body">
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: white;">
      Clases
    </small>
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: #cafccd;">
      Ayudantías
    </small>
    <small class="d-inline border border-light shadow-sm px-2 py-1 m-1" style="background-color: #cadefc;">
      Laboratorios
    </small>
  </div>
</div>

<div id="WeekScheduleLandscape" class="container-xxl" style="min-width: 500px; overflow-x: auto;">
  <div id="WeekScheduleHeader" class="row row-6 text-center">
    <div class="col-1 text-white cell-day-darker-gray">Hora</div>
    <% [
         DayOfWeekEnum::MONDAY,
         DayOfWeekEnum::TUESDAY,
         DayOfWeekEnum::WEDNESDAY,
         DayOfWeekEnum::THURSDAY,
         DayOfWeekEnum::FRIDAY
      ].each do |dayOfWeek| %>
      <div class="col text-white cell-day-dark-gray text-uppercase"><%= dayOfWeek %></div>
    <% end %>
  </div>

  <% @weekScheduleData.each_with_index do |weekScheduleRow, rowIndex| %>
    <div class="row row-6 py-1 <%= (rowIndex % 2 == 0) ? "row-lighter-gray" : "row-light-gray" %>">
      <div class="col-1 cell-time">
        <small><%= "%d:30" % [WeekSchedule::FIRST_BLOCK_HOUR + rowIndex] %></small>
      </div>

      <div class="col">
        <% weekScheduleRow.monday.each do |event| %>
          <%= render(
                partial: "course_events/event_compact_week_schedule",
                locals: {
                  courseEvent: event
                }
              ) %>
        <% end %>
      </div>

      <div class="col">
        <% weekScheduleRow.tuesday.each do |event| %>
          <%= render(
                partial: "course_events/event_compact_week_schedule",
                locals: {
                  courseEvent: event
                }
              ) %>
        <% end %>
      </div>

      <div class="col">
        <% weekScheduleRow.wednesday.each do |event| %>
          <%= render(
                partial: "course_events/event_compact_week_schedule",
                locals: {
                  courseEvent: event
                }
              ) %>
        <% end %>
      </div>

      <div class="col">
        <% weekScheduleRow.thursday.each do |event| %>
          <%= render(
                partial: "course_events/event_compact_week_schedule",
                locals: {
                  courseEvent: event
                }
              ) %>
        <% end %>
      </div>

      <div class="col">
        <% weekScheduleRow.friday.each do |event| %>
          <%= render(
                partial: "course_events/event_compact_week_schedule",
                locals: {
                  courseEvent: event
                }
              ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
