<div class="modal-header">
  <h2 class="modal-title">
    <i class="bi bi-exclamation-diamond"></i>
    Conflicto de ramos
  </h2>
</div>

<div class="modal-body">

  <p>
    Se detectaron conflictos entre sus ramos actualmente inscritos y <strong><%= targetCourse.title %></strong>
    (NRC <%= targetCourse.nrc %>):
  </p>

  <% conflicts.each do |eventConflict| %>
    <div class="mb-2">
      <%= render(
            partial: "course_events/event_conflict_pair_card",
            locals: {
              conflictPair: eventConflict
            }
          ) %>
    </div>
  <% end %>

  <p class="mt-4">
    ¿Inscribir <strong><%= targetCourse.title %></strong> de todas formas?
  </p>

  <div class="modal-footer my-2">
    <button type="button" class="btn btn-secondary shadow-sm px-4 mx-3" data-bs-dismiss="modal">
      No
    </button>

    <%= button_to(
          "Sí",
          "/inscribe-course",
          type: "button",
          class: "btn btn-primary shadow-sm px-4 mx-3",
          params: {
            courseId: targetCourse.id
          },
          method: :post
        ) %>
  </div>

</div>
