<div id="<%= dom_id course_instance %>">
  <p>
    <strong>Nrc:</strong>
    <%= course_instance.nrc %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course_instance.title %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course_instance.teacher %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course_instance.credits %>
  </p>

  <p>
    <strong>Career:</strong>
    <%= course_instance.career %>
  </p>

  <p>
    <strong>Course number:</strong>
    <%= course_instance.course_number %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= course_instance.section %>
  </p>

  <p>
    <strong>Curriculum:</strong>
    <%= course_instance.curriculum %>
  </p>

  <p>
    <strong>Liga:</strong>
    <%= course_instance.liga %>
  </p>

  <p>
    <strong>Lcruz:</strong>
    <%= course_instance.lcruz %>
  </p>

</div>
