<h1>Catálogo de ramos <%= @targetAcademicPeriod.name %></h1>

<p>Actualizado el <%= AcademicPeriod.getLatest().getLastUpdatedDate() %></p>

<%= form_tag("/catalog", method: :get) do %>
  <%=
    text_field_tag(
      :search,
      params[:search],
      class: "rounded px-2 py-2",
      "aria-label" => "Búsqueda",
      "placeholder" => "Buscar por NRC o título"
    )
  %>
  <%= button_tag(type: "submit", name: "search-submit-button", class: "btn btn-primary px-4 ms-2") do %>
    <i class="bi bi-search"></i>
  <% end %>
<% end %>

<hr>

<%=
  render(
    partial: "course_instances/course_instance_collection",
    locals: {
      courseInstances: @course_instances
    }
  )
%>
