<div class="container">
  <p>(place a search box here)</p>
</div>

<p style="color: green"><%= notice %></p>

<h1>Catálogo <%= @targetAcademicPeriod.name %></h1>

<div id="course_instances">
  <% @course_instances.each do |course_instance| %>
    <%= render course_instance %>
    <p>
      <%= link_to("Show this course instance", course_instance) %>
    </p>
  <% end %>
</div>

<%= link_to("New course instance", new_course_instance_path) %>
