<div class="card">
  <div class="card-header">
    <span class="badge rounded-pill bg-secondary" style='
      margin-right: 8px;
      font-family: "Source Code Pro", monospace;
    '>
      NRC <%= @course_instance.nrc %>
    </span>
    <%= @course_instance.title %>
  </div>

  <div class="card-body">

    <dl class="row">
      <dt class="col-sm-3">Sección</dt>
      <dd class="col-sm-9"><%= @course_instance.section %></dd>

      <dt class="col-sm-3">Profesor</dt>
      <dd class="col-sm-9"><%= @course_instance.teacher %></dd>

      <dt class="col-sm-3">Materia</dt>
      <dd class="col-sm-9"><%= @course_instance.career %></dd>

      <!--<dt class="col-sm-3">Número de curso</dt>
      <dd class="col-sm-9"><%#= @course_instance.course_number %></dd>-->

      <dt class="col-sm-3">Créditos</dt>
      <dd class="col-sm-9"><%= @course_instance.credits %></dd>

      <dt class="col-sm-3">Plan de estudios</dt>
      <dd class="col-sm-9"><%= @course_instance.curriculum %></dd>

      <% if (@course_instance.liga != nil) %>
        <dt class="col-sm-3">Conector liga</dt>
        <dd class="col-sm-9"><%= @course_instance.liga %></dd>
      <% end %>

      <% if (@course_instance.lcruz != nil) %>
        <dt class="col-sm-3">Lista cruzada</dt>
        <dd class="col-sm-9"><%= @course_instance.lcruz %></dd>
      <% end %>
    </dl>

    <!-- Class events -->
    <%= render(
          partial: "course_instances/course_events_collection_card",
          locals: {
            cardTitle: "Clases",
            cardEvents: @course_instance.getEventsClasses(),
            titleBackgroundColor: "#c4c4c4",
            bodyBackgroundColor: "#f8f9fa"
          }
        ) %>

    <!-- Assistantships and laboratory events -->
    <%= render(
          partial: "course_instances/course_events_collection_card",
          locals: {
            cardTitle: "Ayudantías y laboratorios",
            cardEvents: @course_instance.getEventsAssistantshipsAndLabs(),
            titleBackgroundColor: "#eddab2",
            bodyBackgroundColor: "#FDF7F2"
          }
        ) %>

    <!-- Evaluation events -->
    <%= render(
          partial: "course_instances/course_events_collection_card",
          locals: {
            cardTitle: "Evaluaciones",
            cardEvents: @course_instance.getEventsEvaluations(),
            titleBackgroundColor: "#f0bbc6",
            bodyBackgroundColor: "#F8EEF0"
          }
        ) %>

    <hr>

    <div class="text-center mt-4 mb-2">
      <%= button_to(
            raw("<i class='bi bi-plus-lg me-2'></i> ") + "Inscribir ramo",
            "/inscribe-course",
            params: {courseId: @course_instance.id},
            method: :post,
            class: "btn btn-primary"
          ) %>
    </div>

  </div>
</div>
