<!DOCTYPE html>
<html>
  <head>
    <title>TomaRamosApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-signin-client_id" content="<%= ENV["OAUTH_CLIENT_ID"] %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag("application", "data-turbo-track": "reload") %>
    <%= javascript_include_tag("application", "data-turbo-track": "reload", defer: true) %>
    <%= stylesheet_link_tag(params[:controller]) %>

    <%
      # Setting image as background. Ref: https://www.syedaslam.com/dynamic-full-page-background-images-in-rails/
    %>
    <style>
        html {
            background: url(<%= image_url("background-white-geometric.jpg") %>) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        body {
            /* Warning: the following overrides Bootstrap stuff such as the navigation bar background color */
            background: transparent;
        }
    </style>
  </head>

  <% displayNvBars = (params[:controller] == "main") %>

  <body>
    <div id="MainDivWhiteLayer" style="
      background-color: rgba(255, 255, 255, 0.92);
    ">
      <% if (displayNvBars) %>
        <nav id="TopNavBar" class="navbar navbar-light border-bottom" style="
          height: <%= ApplicationHelper::TOP_NAV_BAR_HEIGHT %>;
          background-color: white;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
        ">
          <div id="TopNavBarContentDiv" class="container-fluid">

            <%
              # link_to(
              #   image_tag("app_icon.png", size: 50, alt: "Logo", style: "margin-right: 10px;") + "TomaRamosApp",
              #   root_path,
              #   class: "navbar-brand"
              # )
            %>

            <%= link_to(
                  raw("<i class='bi bi-chevron-left'></i>"),
                  :back,
                  class: "btn btn-light",
                  style: "margin-right: 10px; background-color: transparent;"
                ) %>

            <%= link_to(
                  "TomaRamosApp",
                  "/main/home",
                  class: "navbar-brand"
                ) %>

            <ul id="TopNavBarLinks" class="navbar-nav">

              <li class="nav-item">
                <%= link_to(
                      "Salir",
                      root_path,
                      type: "button",
                      class: "nav-link"
                    ) %>
              </li>
            </ul>

          </div>
        </nav>

        <div id="BottomNavBar" class="btn-group d-flex border-top" role="group" aria-label="bottom mobile navigation bar" style="
          background-color: rgba(238, 238, 238, 1);
          height: <%= ApplicationHelper::BOTTOM_NAV_BAR_HEIGHT %>;
          position: fixed;
          bottom: <%= ApplicationHelper::BOTTOM_NAV_BAR_HEIGHT %>;
          width: 100%;
          padding: 10px 8px 10px 8px;
        ">
          <%= link_to(
                raw("<i class='bi bi-house-door-fill'></i> ") + "Inicio",
                "/main/home",
                type: "button",
                class: "btn btn-lg %s" % [(request.path == "/main/home") ? "btn-secondary" : "btn-outline-secondary"]
              ) %>
          <%= link_to(
                raw("<i class='bi bi-list-stars'></i> ") + "Ramos",
                "/main/courses",
                type: "button",
                class: "btn btn-lg %s" % [(request.path == "/main/courses") ? "btn-secondary" : "btn-outline-secondary"]
              ) %>
          <%= link_to(
                raw("<i class='bi bi-calendar-week-fill'></i> ") + "Horario",
                "/main/schedule",
                type: "button",
                class: "btn btn-lg %s" % [(request.path == "/main/schedule") ? "btn-secondary" : "btn-outline-secondary"]
              ) %>
          <%= link_to(
                raw("<i class='bi bi-clipboard-check'></i> ") + "Pruebas",
                "/main/evaluations",
                type: "button",
                class: "btn btn-lg %s" % [(request.path == "/main/evaluations") ? "btn-secondary" : "btn-outline-secondary"]
              ) %>
        </div>
      <% end %>

      <div class="overflow-auto" style="
        height: 100vh;
        padding: 8px 10px 8px 10px;
        margin-top: <%= (displayNvBars) ? ApplicationHelper::TOP_NAV_BAR_HEIGHT : "0" %>;
        margin-bottom: <%= (displayNvBars) ? ApplicationHelper::BOTTOM_NAV_BAR_HEIGHT : "0" %>;
        background: transparent;
      ">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
