<!DOCTYPE html>
<html lang="es">
  <head>
    <title>TomaRamosApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google-signin-client_id" content="<%= ENV["OAUTH_CLIENT_ID"] %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag("application", "data-turbo-track": "reload") %>
    <%= stylesheet_link_tag(params[:controller]) %>

    <%= javascript_include_tag("application", "data-turbo-track": "reload", defer: true) %>
    <%= javascript_include_tag(params[:controller]) %>

    <%# Displaying cookie dialog on page load if an new user enters the application, on any page %>
    <% if (!isUserInSession()) %>
      <%= javascript_include_tag("cookie_modal_auto_show") %>
    <% end %>

    <%= favicon_link_tag(asset_path("favicon.png")) %>

    <%# Setting image as background. Ref: https://www.syedaslam.com/dynamic-full-page-background-images-in-rails/ %>
    <style>
        html {
            /* This is not properly shown as the `CurrentViewContainer` does not have a constant height... must fix
               its dimensions. */
            /*background: url(<%# image_url("background-white-geometric.jpg")%>) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
        }
        body {
            /* Warning: the following overrides Bootstrap stuff such as the navigation bar background color */
            /*background: transparent;*/
        }
    </style>
  </head>

  <% displayNvBars = shouldDisplayNavBars(params) %>

  <body>
    <div id="BetterInMobileNotice" class="text-center text-uppercase ps-0 ms-0 pe-4 py-3 better-in-mobile-notice">
      <i class="bi bi-phone" style="font-size: 60px;"></i>
      <br/>
      <small style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'>
        Use la app en su teléfono en vertical para una mejor experiencia
      </small>
    </div>

    <div id="MainDivWhiteLayer" class="main-page-content-wrapper">
      <% if (displayNvBars) %>
        <nav id="TopNavBar" class="navbar navbar-light shadow-sm border-bottom top-nav-bar">
          <div id="TopNavBarContentDiv" class="container-fluid">

            <%=
              link_to(
                raw("<i class='bi bi-chevron-left'></i>"),
                :back,
                class: "btn btn-lg btn-light shadow-none transparent-button me-1",
              )
            %>

            <%=
              link_to(
                image_tag("app_icon.png", size: 40, alt: "Logo", style: "margin-right: 10px;") + "TomaRamosApp",
                "/home",
                class: "navbar-brand"
              )
            %>

            <ul id="TopNavBarLinks" class="navbar-nav">
              <li class="nav-item">
                <%=
                  link_to(
                    "Salir",
                    root_path,
                    class: "nav-link"
                  )
                %>
              </li>
            </ul>

          </div>
        </nav>

        <div id="BottomNavBar" class="btn-group d-flex border-top bottom-nav-bar" role="group" aria-label="bottom mobile navigation bar">
          <%#
              link_to(
                raw("<i class='bi bi-house-door-fill'></i><br/>") + "Inicio",
                "/home",
                type: "button",
                class: getClassForBottomNavButton("/home")
              )
          %>
          <%=
            link_to(
              raw("<i class='bi bi-list-stars'></i><br/>") + "Ramos",
              "/courses",
              class: getClassForBottomNavButton("/courses")
            )
          %>
          <%=
            link_to(
              raw("<i class='bi bi-calendar-week-fill'></i><br/>") + "Horario",
              "/schedule",
              class: getClassForBottomNavButton("/schedule")
            )
          %>
          <%=
            link_to(
              raw("<i class='bi bi-clipboard-check'></i><br/>") + "Pruebas",
              "/evaluations",
              class: getClassForBottomNavButton("/evaluations")
            )
          %>
        </div>
      <% end %>

      <div id="CurrentViewContainer" class="overflow-auto mx-1 main-current-view-container
        <%= displayNvBars ? "margin-vertical-for-nav-bars" : "no-margin-vertical" %>
      ">
        <%# Setting placeholders for flash messages %>
        <% if (notice != nil) %>
          <div class="container alert alert-success alert-dismissible fade show" role="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
          </div>
        <% end %>

        <% if (alert != nil) %>
          <div class="container alert alert-danger alert-dismissible fade show" role="alert">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>

    <% if (!isUserInSession()) %>
      <%#
        Creating session user data so that the cookie dialog won't appear on the next page load. I don't like creating
        the user here from the view, but it's the only reasonable way I figured out for properly handling the cookie
        consent notice thing.
      %>
      <% createNewSessionUser() %>

      <%# Adding hidden button for displaying via JS, as it is the easier way and avoids importing Bootstrap there (https://stackoverflow.com/a/69534725/12684271) %>
      <button id="cookieButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cookieConsent" hidden="true">
      </button>
      <%=
        render(
          partial: "pages/cookie_consent_dialog",
          locals: {
            diagId: "cookieConsent"
          }
        )
      %>
    <% end %>
  </body>
</html>
