<!DOCTYPE html>
<html>
  <head>
    <title>TomaRamosUandes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <div class="app_header_left">
          <p>[AppIcon]</p>
          hello
        </div>
        <div class="app_header_right">
          <p>[User basic metadata]</p>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
